a:link{
	color:black;
}
a:visited{
	color:blue;
}
a:active{
	color:yellow;
}
body#main_page{
	background-image: url("materials/main_page_bg.jpeg");
}
body#about_us_page{
	background-image: url("materials/about_us_bg.jpg");
}
body#rules_page{
	background-color: #f1e6c5;
}
body#auto_list_page{
	background-image: url("materials/list_bg.jpg");
}
main{
	font-family: Trebuchet MS;
	font-size: 18px;
}
nav{
	font-family: Courier New;
	font-size: 24px;
}
caption{
	font-size: 24px;
	padding-bottom: 5px;
}
body{
	text-align: center;
	line-height: 24px;
	margin:0;
}
ol,ul{
	text-align: left;
}
h2{
	font-weight: normal;	
	text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,	-1px -1px 0 #c6c23f;
}
h1>img{
	width:40px;
}
h2>img{
	width:20px;
}
iframe{
	border:0;
	width:600px;
	height:450px;
}
#auto_list{
	list-style-type: square;
	padding-right: 40px;
}
#auto_list img{
	/*height:400px;*/
	width:60%;
	display: block;
}
#pricelist{
	margin-left:auto;
	margin-right: auto;
	width: 95%;
	border-collapse: collapse;
}
#pricelist tbody tr:hover{
	font-size: 1.2em;
	background-color: white;
}
#pricelist th,#pricelist td{
	border:1px solid;
	padding: 10px;
}
#pricelist thead{
	background-color: mistyrose;
}
#price_includes{
	width:80%;
	margin-right: auto;
	margin-left:auto;
	text-align: left;
	padding-left:5%;
	border:0;
}
#price_includes td{
	padding:15px;
}
#price_includes ul{
	padding-left: 0;
	list-style: none;
}
#price_includes ul>li:before{
	content: '✔';
    color: green;
    margin-right:20px;
}
#price_includes td:hover{
	transform: scale(1.04);
	background-color: palegoldenrod;
}
#rules{
	margin-left:3%;
	margin-right:3%;
	padding-right:2%;
	text-align: justify;
	background-color: rgba(255, 0, 0, 0.3);
}
#rules:hover{
	text-decoration: underline dotted;
	transform: scale(1.04);
	background-color: rgba(255, 0, 0, 0.6);
}
header{
	position:sticky;
	top:0px;
}
header h1{
	background-color: rgba(255,255,255,0.7);
	margin:0;
	padding-bottom:20px;
	padding-top: 10px;
}
header h1:hover{
	background-color: rgba(255,255,255,1);
}
nav{
	padding:10px;
	background-color: rgba(0,0,0,0.7);
	color:white;
	margin-bottom: 10px;
}
nav:hover{
	background-color: rgba(0,0,0,1);
}
nav a:link{
	color:white;
	padding-left: 20px;
	padding-right: 20px;
}
footer{
	background-color:rgba(252,246,224,0.7);
	margin-top:30px;
	border-top:1px solid;
}
footer p{
	margin:0;
	padding:10px;
}
#auto_list img.to_right_side{	
	margin-left: auto;
	margin-right:0;
}
img.shadowed{
	border:0.5px solid;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#main_page main p, #rules_page main p, #about_us_page main p{
	background-color: rgba(255,255,255,0.6);
	margin-left: 20px;
	margin-right: 20px;
}
#main_page main p:hover, #rules_page main p:hover, #about_us_page main p:hover{
	background-color: rgba(255,255,255,0.9);
}
thead+tbody{
	background-color: #FFFFE0;
}
